$cyan:#5BEBE1;
$rojo:#EB5649;
$verde:#23663A;
$amarillo:#F2F22C;
$gris:#4A4A4A;

@mixin margenes($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin footerProp ($back,$padding){
  background-color: $back;
  padding: $padding;
}



.jumbotron{
	background-color: $cyan;
	color: black;
	background-size: cover;
	@include margenes(50px,10px);
}

footer{
	@include footerProp (#4A4A4A,10px 10px 0 10px);
	
	@include margenes(10px,0px);
	color: #9B9B9B;
}
.card-hotel{
	flex: 1 200px;
	color: black;
	
}
.card-body{
	padding: 0;
	
}
.btn-info{
	width: 100%;
	border-radius: 0;
}

.nav-link{
	color: white;
	
}
img{
	width: 100%;
	height: auto;
}

#imgcard {
	width: 100% !important;
	height: auto;
}
#imgcarddown {
	width: 100% !important;
	height: auto;
}
 