.jumbotron {
  background-color: #494949;
  color: black;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  background-color: #4A4A4A;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #9B9B9B; }

.card-hotel {
  flex: 1 200px;
  color: black; }

.card-body {
  padding: 0; }

.btn-info {
  width: 100%;
  border-radius: 0; }

.nav-link {
  color: white; }

img {
  width: 100%;
  height: auto; }

#imgcard {
  width: 100% !important;
  height: auto; }

#imgcarddown {
  width: 100% !important;
  height: auto; }
